body {
  margin: 20px;
  background-color: darkseagreen;
  background-image: url('assets/bpng');
  font-family: Arial;
  text-align: center;
  font-size: 16px;
}

#memorki, canvas {
    float: left;
    width: 100%;
}

#opis {
    float: left;
    width: 400px;
    height: auto;
}

img {
    max-width: 80px;
    max-height: 80px;
    margin-right: 20px;
}

#header {
    font-size: 25px;
    font-style: bold;
    font-family: Times New Roman;
}

hr {
    border-color: black;
}